<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New answer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>New answer</h1>
            <form action="/question/{{question_id}}/new-answer" method="post">
            <label for="message">Answer:</label><br>
            <textarea type="text" name="message" id="message" rows="8" cols="80"></textarea><br><br>
            <button class="label" type="submit" align="right">Add new answer</button>
            </form>
</body>
</html>