<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit comment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Edit comment</h1>
{% for data in datas %}
    <form method="post">
    <label for="message"></label><br>
    <textarea name="message" id="message" cols="80" rows="8">{{ data.message }}</textarea><br>
    <input class="label" type="submit" value="Add new comment">
{% endfor %}
</form>
</body>
</html>