<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>AskMate(Sprint1)</title>
</head>
<body>
    <h1>User Stories</h1>
    <h2>Questions</h2>
<table>
    <tr>
        <th>Submission time</th>
        <th>View number</th>
        <th>Vote number</th>
        <th>Title</th>
        <th></th>
    </tr>
        {% for question in questions %}
    <tr>
        <td align='center'> {{ question.submission_time }}</td>
        <td align='center'>{{ question.view_number }}</td>
        <td align='center'>{{ question.vote_number }}</td>
        <td align='center'><a href="questions/{{question.id}}">{{ question.title }}</a></td>
        <td> <form method="get"><a href="questions/{{question.id }}/delete"></a>
        <button type="submit" align="right" formaction="/question/{{ question.id }}/delete">Delete</button>
        </form>
        </td>
    </tr>
        {% endfor %}
</table>
    <br>
<form action="/add-new-question">
<button class="left_buttons" type="submit" align="right">Add new question</button>
</form>
    <br>
    <form method="post">
        <div class="search-box">
            <input class="search-txt" type="text" id="search_phrase" name="search_phrase" placeholder="Search..." required minlength="1">
            <button class="search-btn" formaction="/search"><i class="fas fa-search"></i></button>
        </div>
    </form>
</body>
</html>