<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate(Sprint1)</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Question</h1>
<table>
    <tr>
        <th>Submission time</th>
        <th>View number</th>
        <th>Vote number</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
    </tr>
    {% for data in quest_datas %}
        <tr>
            <td align='center'>{{ data.submission_time }}</td>
            <td align='center'>{{ data.view_number }}</td>
            <td align='center'>{{ data.vote_number }}</td>
            <td align='center'>{{ data.title }}</td>
            <td align='center'>{{ data.message }}</td>
            <td align='center'>{{ data.image }}</td>
            <td>
                <form action="/question/{{ question_id }}/edit">
                    <input type="submit" value="Edit question">
            </td>
            </form>
            <td>
                <form action="/question/{{ question_id }}/new-q_comment">
                    <input type="submit" value="comment">
            </td>
            </form>
        </tr>
    {% endfor %}
</table>
<br>


{% if q_comm_datas %}

    {% for data in q_comm_datas %}
        {% if data.answer_id == None %}
            <table class="comment">
                <th class="comment_head">comment</th>
                <tr>
                    <th>Submission time</th>
                    <th>Message</th>
                </tr>
                <tr>

                    <td align='center'>{{ data.submission_time }}</td>
                    <td class="message" align='center'>{{ data.message }}</td>
                </tr>
            </table>
        {% endif %}
    {% endfor %}


{% endif %}


<h1>Answer</h1>
{% if answ_datas %}
    {% for data in answ_datas %}
        <table class="answer">
            <tr>
                <th>Submission time</th>
                <th>Vote number</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
            <tr>

                <td align='center'>{{ data.submission_time }}</td>
                <td align='center'>{{ data.vote_number }}</td>
                <td align='center'>{{ data.message }}</td>
                <td align='center'>{{ data.image }}</td>
                <td>
                    <form action="/answer/{{ data.id }}/edit">
                        <input type="submit" value="Edit answer">
                    </form>
                </td>
                <td>
                    <form method="get"><a href="/answer/{{ data.question_id }}/{{ data.id }}/delete"></a>
                    <button type="submit" align="right" formaction="/answer/{{ data.question_id }}/{{ data.id }}/delete">Delete</button>
                </form>
                </td>
                <td>
                    <form action="/question/{{ question_id }}/{{ data.id }}/new-a_comment">
                        <input type="submit" value="comment">
                    </form>
                </td>
            </tr>



            {% if a_comm_datas %}
                {% for i in a_comm_datas %}
                    {% if i.answer_id == data.id %}
                        <table class="comment">
                            <tr class="comment_head">
                                <th>comment</th>
                            </tr>
                            <tr class="comment_head">
                                <th>Submission time</th>
                                <th>Message</th>
                            </tr>
                            <tr>
                                <td align='left'>{{ i.submission_time }}</td>
                                <td align='left'>{{ i.message }}</td>
                                <td>
                                    <form action="/comment/{{ i.id }}/edit">
                                        <input type="submit" value="Edit comment">
                                </td>
                                </form>
                                <td>
                                    <form action="/comment/{{ i.id }}/delete">
                                        <input type="submit" value="Delete comment">
                                </td>
                                </form>
                            </tr>
                        </table>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tr>
        </table>
        <br>
    {% endfor %}
{% else %}
    There is no saved answer.<br>
{% endif %}
<br>
<form action="/question/{{ question_id }}/new-answer">
    <button class="left_buttons" type="submit" align="right">Add new answer</button>
</form>
<form action="/list" method="get">
    <br>
    <button class="left_buttons" type="submit">Go back to Homepage</button>
</form>
</body>
</html>