<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<table class="users">
    <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail</th>
    </tr>
    <tr>
        {% for user in users %}
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
</table>
<form action="/list" method="get">
    <button class="homepage" type="submit">Go back to Homepage</button>
</form>
</body>
</html>